@import 'tailwindcss';


@custom-variant dark (&:is(.dark *));
@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));
html {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
